  # Statement Assessment Test

#### Use for, .split(), and if to create a Statement that will print out words that start with 's':

In [1]:
st = 'Print only the words that start with s in this sentence'

In [2]:
for i in st.split():
    if i[0].lower() =='s':
        print (i)

start
s
sentence

#### Use range() to print all the even numbers from 0 to 10.

In [3]:
[x for x in range(0,11) if x%2==0]

[0, 2, 4, 6, 8, 10]

#### Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [4]:
[ x for x in range(1,51) if x%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

#### Go through the string below and if the length of a word is even print "even!"

In [1]:
st = 'Print every word in this sentence that has an even number of letters'

In [5]:
for i in st.split() :
    if len(i)%2 == 0:
        print(i + ":     this word is even")

word:     this word is even
in:     this word is even
this:     this word is even
sentence:     this word is even
that:     this word is even
an:     this word is even
even:     this word is even
number:     this word is even
of:     this word is even

#### Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [7]:
for i in range(1,100):
    if i%3 ==0 and i%5 == 0 :
        print("FizzBuzz")
    elif i %5 == 0 : 
        print("Buzz")
    elif i%3 ==0 : 
        print('Fizz')
    else :
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

#### Use List Comprehension to create a list of the first letters of every word in the string below:

In [8]:
st = 'Create a list of the first letters of every word in this string'

In [9]:
[i[0] for i in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [10]:
def lesser_of_two_evens(a,b):
    if a%2 ==0 and b%2 ==0:
        return min(a,b)
    else :
        return max(a,b)
    pass

In [11]:
lesser_of_two_evens(2,4)

2

In [12]:
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [13]:
def animal_crackers(text):
    text_split = text.split()
    return text_split[0][1]==text_split[1][0]

In [14]:
animal_crackers('LLvelheaded Llama')

True

In [15]:
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [16]:
def makes_twenty(n1,n2):
    return n1==20 or n2==20 or n1+n2==20

In [17]:
makes_twenty(20,10)

True

In [18]:
makes_twenty(2,3)

False

### LEVEL 1 PROBLEMS
    OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
            old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [19]:
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    return first_half.capitalize()+second_half.capitalize()

In [20]:
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed
    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

In [21]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [22]:
master_yoda('I am home')

'home am I'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [23]:
def almost_there(n):
    return abs(100-n) <= 10 or abs(200-n) <= 10

In [24]:
almost_there(104)

True

In [25]:
almost_there(150)

False

In [26]:
almost_there(209)

True

### LEVEL 2 PROBLEMS

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

         has_33([1, 3, 3]) → True
         has_33([1, 3, 1, 3]) → False
         has_33([3, 1, 3]) → False

In [27]:
def has_33(nums):
    i = 1
    for i in range(1,len(nums)-1) :
        if nums[i]==nums[i+1]==3:
            return True
        else :
            return False

In [28]:
has_33([1, 3, 3])

True

In [29]:
has_33([1, 3, 1, 3])

False

In [30]:
has_33([3, 1, 3])

False

##### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [31]:
def paper_doll(text):
    i = 0
    a =''
    while i in range(0,len(text)):
        a = a +''.join(text[i]*3)
        i +=1
    return a

In [32]:
paper_doll('Hello')

'HHHeeellllllooo'

In [33]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [34]:
def blackjack(a,b,c): 
    if a+b+c<=21:
        return a+b+c
    elif a+b+c>21 and a == 11 or b == 11 or c == 11 :
        return a+b+c-10
    elif (a+b+c)>21 :
        return 'BUST'

In [35]:
blackjack(5,6,7)

18

In [36]:
blackjack(9,9,9)

'BUST'

In [37]:
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [38]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [39]:
summer_69([1, 3, 5])

9

In [40]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [41]:
summer_69([2, 1, 6, 9, 11])

14

## CHALLENGING PROBLEMS
    SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [42]:
def spy_game(nums):
    for i in range(0,len(nums)-3):
        if nums[i] == 0 and nums[i+1]==0 and nums[i+2]==7:
            return True 
    return False

In [43]:
spy_game([1,2,4,0,0,7,5])

True

In [44]:
spy_game([1,0,2,4,0,5,7])

False

In [45]:
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [85]:
def count_primes(num):
    a = 0
    for i in range (0,num//2): 
        if i%2 == 0 :
            pass
        else : 
            a += 1 
    return a

In [86]:
count_primes(100)

25